body {
    background:url(../img/Background.jpg);
}

.spa {
    display: none;
}
#tabAboutMe {
    display: block;
}

a.brand-logo {
    font-size: 1.2rem;
}

.hCenter {
    text-align: center;
}

.cooleDiv {
    border-radius: 25px;
    border-style: solid;
    background: black;
    color: orange;

}

.cooleDiv p, h3, h4 {
    margin-left: 5px;
}

.tails {
    width: 125px;
    height: auto;
}

.tails2 {
    width: 125px;
    height: auto;
}

.omgekeerd {
    transform: rotate(180deg);
}

.dobbel{
    width:60px;
    background:white;
    border:black 1px solid;
    padding:15px;
    font-size:20px;
    text-align:center;
    margin:5px;
}